@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$bit-font: 'Press Start 2P', cursive;


html, body {
  height: 100vh;
  font-family: $bit-font;
}

#app {
  width: 50vw;
  margin: auto;
  display: grid;
  /* grid-template-rows: [row1-start] 10% [row1-end row2-start] 40% [row2-end] [row3-start] 40% [row3-end]; */
  grid-template-columns: 50%;
  grid-template-areas: 
    "progess progess" 
    "eat play"
    "fight sleep"
    "pet pet";
}

#progress {
  background-color: gray;
  grid-area: progess;
}

#eat {
  background-color: blue;
  grid-area: eat;
  text-align: right;
  padding: 0;
  position: relative;
  border-radius: 30px 0 0 0;
}

#play {
  background-color: yellow;
  grid-area: play;
  padding: 0;
  border-radius: 0 30px 0 0;
}

#fight {
  background-color: red;
  grid-area: fight;
  text-align: right;
  padding: 0;
  border-radius: 0 0 0 30px;
}

#sleep {
  background-color: green;
  grid-area: sleep;
}

#pet {
  display: flex;
  width: 16rem;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  border: 3px solid darkslategray;
  border-radius: 10%;
  grid-area: pet;
  transform: translateY(-125%) scale(.75, .75);
  overflow: hidden;
  
}
