#eat h2, #eat h4 {
  color: lightblue;
}

#eat button > * {
  pointer-events: none;
}

#eat .roundButton {
  border-radius: 50%;
  border: .5rem solid lightblue;
  background-color: darkblue;
  padding: .75rem;
  margin: .5rem;
  color: lightblue;
}

#eat :nth-child(4) {
  transform: translateX(-125%);
}
