#fight h2, #fight h4 {
  margin-right: 2rem;
  color: white;
}

#fight button > * {
  pointer-events: none;
}

#fight button {
  margin: 1rem 2rem 3rem 0;
}

#flightButton {
  transform: translate(-200%, 50%);
}

#fightButton {
  transform: translate(-200%, 50%);
}

.roundButton {
  border-radius: 50%;
  border: 0;
  padding: 1rem;
}
