#fight h2, #fight h4 {
  color: rgb(252, 105, 125);
}

#fight button > * {
  pointer-events: none;
}

#fight .roundButton {
  border-radius: 50%;
  border: .5rem solid red;
  background-color: darkred;
  padding: .75rem;
  margin: .5rem;
  color: rgb(252, 105, 125);
}

#fight :nth-child(4) {
  transform: translateX(-125%);
}
